@import "reset";
@import "base";
@import "utils";

/* Main wrapper
---------------------------------------------------------- */
.Wrapper {
	background: white;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 40px;
	min-height: 600px;

	@include respond-to(widescreen) {
		padding: 40px;
		padding-bottom: 60px;
		width: 1000px;
	}
}

/* Content Header
---------------------------------------------------------- */
.ContentHeader {
	// position: relative;
	@include clearfix;
	border-bottom: 1px solid $grey3;
	margin-bottom: 20px;

	h1 {
		float: left;
		color: #333;
	}

	input {
		float: right;
	}
}

/* Map
---------------------------------------------------------- */
.GoogleMap {
	width: 100%; 
	height:380px; 
	margin-bottom: 50px;
}

/* Data table
---------------------------------------------------------- */
.DataTable {
	overflow-x: scroll;
	display: none;

	&.Show {
		display: block;
	}

	.DataTable_entry {
		display: none;
		float: right;
		color: red;
		font-size: $size17;
		margin: 27px 20px 0 0;
	}

	button {
		margin-top: 20px;
	}

	img {
		max-width: 70px;
		max-height: 70px;
	}

	th {
		position: relative;
		padding-right: 20px;
		cursor: pointer;

		&:after {
			content: "";
			display: block;
			position: absolute; right: 5px; top: 10px;
		}

		&.headerSortUp:after {
			@include triangle(5px, top, $grey1);
			border-bottom: 5px solid $grey1;
		}

		&.headerSortDown:after {
			@include triangle(5px, bottom, $grey1);
			border-top: 5px solid $grey1;
		}	
	}
}

/* User Section
---------------------------------------------------------- */
.UserDetails {
	min-height: 200px;
	padding: 20px;

	.UserDetails_section {
		display: none;

		h4 {
			margin-bottom: 20px;
			color: $grey3;
		}

		&.active {
			display: block;	
		}
	}

	.UserDetails_getDetails {

		textarea {
			min-height: 100px; width: 100%;
		}
	}

	button {
		margin-top: 20px;
	}
}


